/* button {
  margin: 5px;
}

.loggedIn {
  margin-top: 9%;
}

.table {
  width: 100%;
  border: none;
}

.tableHead,
.tableBody {
  width: 100%;
}

.tableHeadRow,
.tableBodyRow {
  background-color: white;
  width: 100%;
}

.tableHeadItem,
.tableBodyItem {
  color: black;
  width: 25em;
  text-align: center;
}

.tableHeadIndex,
.tableBodyIndex {
  color: white;
  background: none;
  width: 0;
}

.tableHeadName,
.tableBodyName {
  color: black;
  text-align: left;
  width: 50rem;
}

.tableHeadName,
.tableHeadIndex,
.tableHeadItem {
  font-size: 25px;
}

.tableBodyName,
.tableBodyIndex,
.tableBodyItem {
  font-size: 20px;
}

.tabHead,
.tabBody,
.tab {
  display: inline-block;
  margin-left: 2em;
}

.tabHead {
  margin-left: 2em;
}

.tab {
  margin-left: 20%;
} */
